.carousel-container-portfolio {
  overflow: hidden;
  position: relative;
  width: 50%;
}

.carousel-portfolio {
  display: flex;
  transition: transform 0.3s ease;
  margin-left: -20px; /* Margem esquerda negativa */
  margin-right: -20px; 
}

.carousel-item-portfolio {
  flex: 0 0 calc(100% - 40px);;
  margin-right: 20px; /* Espaço entre os itens (ajuste conforme necessário) */
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
}

#prev-button,
#next-button {
  cursor: pointer;
}

.distack {
  font-weight: bold;
  color: #fff;
}

a {
  text-decoration: none;
}

.cart-title {
  text-decoration: none;
}
